* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #82E0AA;
  color : #154360;
  margin: 0;
}

header {
  background-color: #154360;
  color: #FCF3CF;
  padding: 6px;
  padding-left: 35px;
}

/*form {
  width: 49.8%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}*/

/* Full-width input fields */
input[type=text], input[type=password], input[type=date], input[type=email], input[type=tel], input[type=number], input[type=file] {
  width: 100%;
  padding: 12px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #D5F5E3;
}

input[type=file] {
  width: 30%;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #154360;
  margin-bottom: 25px;
}

h1 {
  margin: 0px;
  margin-top: 5px;
}

h2 {
  margin: 0px;
}

/* Set a style for all buttons */
button {
  background-color: #28B463;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
  opacity: 0.85;
}

button:hover {
  opacity:1;
}

header > h1 {
  font-size: 40px; 
  display: inline-block;
}

header > p {
  display: inline-block;
}

.pageTitle {
  width: 50%;
  float: left;
  text-align:center;
  padding-top: 9px;
  font-size: 30px;
}

.leftRightNavBar {
  width: 25%;
  float: left;
}

/* Navigation bar for top of page */
.navBar {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
  color: #FCF3CF;
  background-color: #008080;
  display: inline-block;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  float: left;
  width: 50%;
}

.signupbtn {
  float: right;
  width: 50%;
}

/*Log Out button for the top of every page*/
.logoutbtn {
  background-color: #347076;
  width: 90px;
  height: 50px;
  /*float: right;*/
  margin-right: 35px;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Left and right arrows for buttons*/
i {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}